when@dev:
    nelmio_cors:
        paths:
            '^/':
                allow_origin: ['*']
                allow_methods: ['GET', 'OPTIONS', 'POST', 'PUT', 'PATCH', 'DELETE']
                allow_headers: ['Content-Type', 'Authorization']
                expose_headers: ['Link']
                max_age: 3600
